

.storySegment > h3 > a:hover {
	text-decoration: underline;
	color: black;
	cursor: pointer;
}

.storySegment > h3 > a {
	text-decoration: none;
	color: black;
}

.storySegment {
	
	
	min-height: 10em;
	padding-top: 1em;
	padding-bottom: 1em;
	margin-left: .5em;

}

.storySegment img {
	float: left;
	width: 14em;
	height: 10em;
	
	padding-right: 1em;

}


.storySegment h3 {
	margin-bottom: 1em;

}

#headingDiv {
	padding-bottom: 1em;
}
